@{
    Layout = null;
}
<!doctype html>
<html lang="en" data-layout="twocolumn" data-layout-style="default" data-sidebar="light" data-topbar="dark" data-sidebar-size="lg" data-preloader="disable">
<head>
    @await Html.PartialAsync("_Meta")
    @RenderSection("styles", required: false)
    @await Html.PartialAsync("_Css")
</head>

<style>
    .auth-one-bg .bg-overlay {
        background: linear-gradient(to right, #0f2040, #667176);
        opacity: .9;
    }
</style>

<body>

    <div class="auth-page-wrapper pt-5">
        <!-- auth page bg -->
        @* <div class="auth-one-bg-position auth-one-bg" id="auth-particles">
        <div class="bg-overlay"></div>

        <div class="shape">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1440 120">
        <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
        </svg>
        </div>
        </div>*@

        <div class="main-wrapper">
            @RenderBody()
        </div>
        <!-- auth page content -->

        <div id="preloader" class="preloader" style="opacity:0.5; visibility:visible;">
            <div id="status">
                <div class="spinner-border text-primary avatar-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>

        <div id="common-lg-dialog" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog modal-lg">
                <div class="modal-content" id="common-lg-DialogContent" style="margin-left: 50px; width: 85%;">
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <div id="common-md-dialog" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog modal-md">
                <div class="modal-content" id="common-md-DialogContent">
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <div id="common-lg-dialog" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog modal-lg">
                <div class="modal-content" id="common-lg-DialogContent">
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <div id="common-md-dialog" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog modal-md">
                <div class="modal-content" id="common-md-DialogContent">
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <div id="common-dialog" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog">
                <div class="modal-content" id="common-DialogContent">
                </div>
            </div>
            <!-- /.modal-dialog -->
        </div>

        <!-- end auth page content -->
        <!-- footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <div class="mb-0 text-muted">&copy; @DateTime.Now.Year. Powered By <a href="@(Url.Content("https://arudhait.com//"))" target="_blank"> Arudha IT Solutions</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end Footer -->
    </div>

    <!-- END layout-wrapper -->
    @await Html.PartialAsync("_Script")
    <script src="~/js/jquery/dist/jquery.min.js"></script>
    <script src="~/js/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/js/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/aes.js"></script>
    <script src="~/js/custom/Warranty.js"></script>
    <script src="~/js/custom/Warranty.Common.js"></script>
    <script src="~/js/jquery-validation/dist/toastr.min.js" asp-append-version=" true"></script>
    <script src="~/js/jquery/dist/popper.min.js"></script>
    <script src="~/assets/js/pages/password-addon.init.js"></script>
    <script>
        $(".password-addon").click(function () {
            var $passwordInput = $(this).siblings(".password-input");
            if ($passwordInput.attr("type") === "password") {
                $passwordInput.attr("type", "text");
                $(this).children().removeClass().addClass("ri-eye-off-line");
            } else {
                $passwordInput.attr("type", "password");
                $(this).children().removeClass().addClass("ri-eye-line");
            }
        });

        $(".toggle-password").click(function () {
            var passwordField = $(this).siblings('input[type="password"]');

            if (passwordField.attr("type") === "password") {
                $(this).removeClass().addClass("ri-eye-fill align-middle");
                passwordField.attr("type", "text");
            } else {
                $(this).removeClass().addClass("ri-eye-fill align-middle");
                passwordField.attr("type", "password");
            }
        });
        $(".preloader").fadeOut();

        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if ((charCode > 31 && charCode < 48) || charCode > 57) {
                return false;
            }
            return true;
        }


        function GotoLogin() {
            window.location.href = UrlContent("Account/Index");
        }

        function encryptPwd() {
            if (document.getElementById("txtUsername") != null) {
                var txtUserName = document.getElementById("txtUsername").value.trim();
                var txtPassword = document.getElementById("txtPassword").value.trim();
                var txtCaptcha = document.getElementById("txtCaptcha").value.trim();

                if (txtUserName == "") {
                    return false;
                }
                else if (txtPassword == "") {
                    return false;
                }
                else if (txtCaptcha == "") {
                    return false;
                }
                else {
                    var key = CryptoJS.enc.Utf8.parse('8080808080808080');
                    var iv = CryptoJS.enc.Utf8.parse('8080808080808080');
                    var encryptedpassword = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse(txtPassword), key,
                        {
                            keySize: 128 / 8,
                            iv: iv,
                            mode: CryptoJS.mode.CBC,
                            padding: CryptoJS.pad.Pkcs7
                        });
                    document.getElementById("txtPassword").value = encryptedpassword;
                    return true;
                }
            }
        }

        (function () {
            'use strict';
            const forms = document.querySelectorAll('.needs-validation');
            forms.forEach(form => {
                form.addEventListener(
                    'submit',
                    event => {
                        if (!form.checkValidity()) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    },
                    false
                );
            });

        })();

        function encryptPwdWithoutUsername() {
            if (document.getElementById("passwordTextnew") != null) {
                var txtPassword = document.getElementById("passwordTextnew").value.trim();
                var txtPasswordConfirm = document.getElementById("passwordTextConfirm").value.trim();
                var ResetPaswordCaptcha = document.getElementById("captcha").value.trim();

                if (txtPassword == "" || ResetPaswordCaptcha == "") {
                    return false;
                }
                else {
                    var key = CryptoJS.enc.Utf8.parse('8080808080808080');
                    var iv = CryptoJS.enc.Utf8.parse('8080808080808080');
                    var encryptedpassword = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse(txtPassword), key,
                        {
                            keySize: 128 / 8,
                            iv: iv,
                            mode: CryptoJS.mode.CBC,
                            padding: CryptoJS.pad.Pkcs7
                        });
                    document.getElementById("passwordTextnew").value = encryptedpassword;
                    let confPass = document.getElementById("passwordTextConfirm");
                    if (confPass != null && typeof confPass != "undefined") {
                        var encryptedConfpassword = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse(confPass.value.trim()), key,
                            {
                                keySize: 128 / 8,
                                iv: iv,
                                mode: CryptoJS.mode.CBC,
                                padding: CryptoJS.pad.Pkcs7
                            });
                        confPass.value = encryptedConfpassword;
                    }
                    return true;
                }
            }
        }

        function ResetBtnClick() {
            $("#divMsg").removeClass("show").addClass("hide");
            $.validator.unobtrusive.parse($("#forgotPasswordForm"));
            if ($("#forgotPasswordForm").valid()) {
                $(".preloader").show();
                var formdata = $("#forgotPasswordForm").serialize();

                $.ajax({
                    url: '@Url.Action("ResetPass", "Account")',
                    type: 'POST',
                    data: formdata,
                    success: function (data) {
                        console.log(data)
                        $(".preloader").hide();
                        $("#forgotalert").show();
                        $("#forgotalert").removeClass("alert-danger").removeClass("alert-success").addClass("alert-success");
                        if (data.isSuccess) {
                            $("#forgotalert").addClass("alert-success");
                            $("#lblError").text(data.message);
                            $("#divMsg").removeClass("alert-danger").addClass("alert-success");
                            $("#divMsg i").removeClass("ri-error-warning-line").addClass("ri-check-double-line");
                            $("#divMsg").removeClass("hide").addClass("show");
                        }
                        else {
                            $("#lblError").text(data.message);
                            $("#divMsg").removeClass("alert-success").addClass("alert-danger");
                            $("#divMsg i").removeClass("ri-check-double-line").addClass("ri-error-warning-line");
                            $("#divMsg").removeClass("hide").addClass("show");
                            Warranty.Common.RefreshCaptcha();
                        }
                        $("#txtCaptcha2").val('');
                        Warranty.Common.RefreshCaptcha();
                    }
                });

            }
            else {
                $("#forgotPasswordForm").addClass("was-validated");
                return false;
            }

        }

        $('#forgotalert button').on("click", function () {
            $("#forgotalert").Show();
            return false;
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#loginform input").keypress(function (event) {
                if (event.which == 13) {
                    event.preventDefault();
                    Warranty.Common.Login();
                }
            });
        });

        $(document).ready(function () {
            $("#ResetPassword input").keypress(function (event) {
                if (event.which == 13) {
                    event.preventDefault();
                    $("#resetSubmitbtn").click();
                }
            });
        });
        $(document).ready(function () {
            $("#forgotPasswordForm input").keypress(function (event) {
                if (event.which == 13) {
                    event.preventDefault();
                    ResetBtnClick()
                }
            });
        });
        function UrlContent(url) {
            return "@Url.Content("~/")" + url;
        }
    </script>


    @RenderSection("scripts", required: false)
</body>
</html>


